@import url("./reset.css");
@import url("./../fonts/Gilroy/stylesheet.css");

body {
    font-family: 'Gilroy';
}

.none {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 15px;
}

.header {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 33.0458px 33.0458px;
}
/* navigation */
.nav {
    padding: 32px 0 30px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.nav__logo {
    margin-right: 48px;
}
.nav__nav {
    margin-right: 36px;
}
.nav__search {
    margin-right: 14px;
}
.nav__join {
    margin-right: 14px;
}
.nav__lang {
}
/*-------------- nav list----------------*/
.nav-list {
    display: flex;
    column-gap: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #003459;
}

.nav-list__link {
    color: #003459;
}
/*-----------search------------------*/
.search {
    position: relative;
    /* display: flex; */
}

.search__btn {
    position: absolute;
    top: 12px;
    left: 16px;
}

.search__input {
    padding: 0 16px 0 48px;
    width: 280px;
    height: 44px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    color: #000000;
}

.search__input::placeholder {
    color: #99A2A5;
}
/*-------------------other nav----------------*/
.btn-join{
    display: inline-block;
    padding: 12px 28px;
    height: 44px;
    background-color: #003459;
    border-radius: 57px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;

}
/*-------------lang-select---------------------*/
.lang-select {
    position: relative;
}

.lang-select__options {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
}

.lang-select-btn {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.lang {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.lang__title {
    font-size: 16px;
    font-weight: 500;
    color: #002A48;;
}
/*-------------lang-select---------------------*/

.nav__search {
}
/*----------------header content----------------*/
.header__content {
}
.header__text {
}
.header__text__title {
}
.header__desc {
}
.header__btn {
}
.btn-outline {
}
.btn {
}
.header__img {
}